@font-face {
  font-family: "Apice";
  src: url("/apice.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  @apply bg-janna-500 text-plantation-500;
}

h1 {
  @apply text-4xl text-crown-of-thorns-500 font-semibold text-center md:text-left;
  font-family: "Apice";
}

h2 {
  @apply text-2xl font-semibold text-crown-of-thorns-500 text-center md:text-left;
  font-family: "Apice";
}

p {
  @apply text-lg;
}
